@mixin center {
  border-left: auto;
  border-right: auto;
  display: block;
  text-align: center;
}

@mixin medium-screen {
  @media $breakpoint-medium {

  }
}


@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .column-#{i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
