
//colors
$highlight-red: #D9001A;
$almost-black: #1F1C1F;
$dusty-pink: #885B62;
$orange: #F7BD5A;
$periwinkle: #4C67BC;
$yellow-green: #DFDA61;
$yellow: #F7E576;
$green: #99D1AB;
$grey: #C5C0B0;
$yellow-grey: #E9E4CF;

//media queries
$breakpoint-medium: "(min-width: 899px) and (max-width: 1200px)";
$breakpoint-large: "(min-width 1201px)";
