
//colors
$highlight-red: #760102;
$almost-black: #04041A;
$dusty-pink: #9D7E92;
$orange: #6E450E;
$periwinkle: #006C88;
$yellow: #F3EC00;
$grey: #2B2832;
$white-grey: #C7D9E9;

//media queries
$medium: "screen and (min-width: 600px) and (max-width: 1200px)";
$large: "screen and (min-width 1201px)";

//grid-related
$grid-max-width: 100%;
$grid-columns: 3;
