.card-wrapper {
  width: 85%;
  margin: 1em;
  background: url("https:
//raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"),
                linear-gradient($side-image-background-top, $side-image-background-bottom),
                no-repeat $side-image-background-top scroll;
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;
}

.cards {
  padding: 1em;
  border: 1em;
}

.card-image {
  float: left;
}
