//Bourbon Refill Patterns: Cards

.card {
  $card-border: 1px solid $dusty-pink;
  $card-background: lighten($dusty-pink, 10%);
  $card-margin: 1em;
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px lighten($base-background-color, 10%);
  cursor: pointer;
  margin: 10px;
  transition: all 0.2s ease-in-out;

  .card-image {
    background-color: $dusty-pink;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 0.5;
      transition: all .02s ease-in;
    }
  }

  .card-header {
    background-color: $dusty-pink;
    border-bottom: $dusty-pink;
    // border-radius: 1px;
    // transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: .5em;
    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $orange;

    .card-header {
      background-color: $periwinkle;
    }
  }
}
//End of Bourbon Refill Pattern: Cards
