.quote {
  width: 85vw;
  height:300px;
  display: block;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  color: $white-grey;
}

.char11 {
  text-align: center;
  font-size: 10em;
  line-height: 0em;
  padding: 0em;
  z-index: -1000;
  color: $orange;
}

.char12 {
  @extend .char11;
}
