h1 {
  @include font-face('Amiri', serif) {};
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  color: $almost-black;
}
h2 {
  @extend h1;
  font-size: 2em;
  color: darken($dusty-pink, 50%);
  text-align: left;
}
h3 {
  @extend h2;
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  color: $dusty-pink;
  line-height: normal;
}

h4 {
  @extend h3;
  font-size: 2em;
  text-align: center;
  color: white;
}

h5 {
  @extend h4;
  font: .5em;
  text-align: center;
  line-height: normal;
  color: $almost-black;
}

h6 {
  @extend h4;
  font: .75em;
  text-align: center;
  font-weight: lighter;
}

p {
  @font-face('open sans', serif) {};
    font-size: 1em;
    font-weight: normal;
    font-stretch: semi-expanded;
}

a {
  font-size: .75em;
  font-weight: lighter;
  color: $white-grey;
  text-decoration: none;
}
